@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

header {
  width: 100%;
  margin-bottom: 40px;
  position: sticky;
  top: 0;
}

.navbar {
  width: 100%;
  height: 4rem;
  background-color: blueviolet;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
}

.navbar .navbar-brand {
  color: #ffff00;
  margin-left: 10px;
  font-weight: 600;
  font-size: 1.3rem;
}

.navbar-toggler {
  display: none;
  border: none;
  padding: 0;
  position: relative;
  cursor: pointer;
}

.navbar .navbar-collapse.collapse {
  width: 100%;
  position: absolute;
  display: block;
  top: 4rem;
  left: 0;
  background-color: blueviolet;
}

.navbar-collapse.collapse ul {
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.collapse li {
  padding: 5px 20px;
}

.collapse li:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.navbar .collapse .nav-item a {
  padding: 0;
  color: #fff;
  background-color: transparent;
}

.navbar .collapse .nav-item a:hover {
  background-color: transparent;
  color: #fff;
}

.navbar .nav-item a {
  color: white;
  padding: 5px 10px;
}

.navbar .nav-item a:hover {
  color: blueviolet;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px;
}

.navbar .navbar-collapse .navbar-nav {
  display: flex;
}

a {
  text-decoration: none;
}

.navbar .nav-link.active {
  color: blueviolet;
  background-color: #ffffff;
  border-radius: 12px;
}

.navbar .nav-link.active:hover {
  background-color: #ffffff;
}

.navbar li {
  list-style: none;
  padding: 5px;
}

img {
  width: 300px;
}

main {
  width: 100%;
}

.heading {
  width: 90%;
  margin: 20px auto;
}

main section {
  width: 900px;
  max-width: 95%;
  margin: 20px auto;
}

.about {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-container {
  /* float: right; */
  /* width: 300px; */
  /* height: 300px; */
  /* border-radius: 8px; */
  /* margin-left: 20px; */
  width: 300px;
  height: 300px;
  overflow-y: clip;
  margin-right: 20px;
  border-radius: 8px;
}

#name {
  font-size: 3rem;
}

.description {
  text-align: justify;
  margin-bottom: 20px;
}

.skills .skill-item {
  display: inline-block;
  background-color: rgb(206, 206, 206);
  padding: 0 10px;
  border-radius: 12px;
  margin-bottom: 5px;
}

/* Button styling */

.contact-btn {
  width: fit-content;
  margin: 40px auto;
  /* font-size: 2em; */
}
.contact-btn button {
  background-color: blueviolet;
  border: none;
  color: white;
  width: 230px;
  padding: 10px 20px;
  font-size: 1.5rem;
  transition: transform 0.5s ease-out;
}

.contact-btn button:hover {
  transform: scale(1.2);
}

.button {
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* Footer */
.footer-distributed {
  background: blueviolet;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: yellow;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: yellow;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

@media (max-width: 720px) {
  .navbar-toggler {
    display: block;
    background-color: transparent;
  }

  .navbar-toggler i {
    font-size: 2rem;
    color: #fff;
  }

  .navbar .navbar-collapse {
    display: none;
  }
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .about {
    flex-direction: column;
  }

  .description-container {
    padding: 0 30px;
  }

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/* Contact Me */
form {
  width: 600px;
  max-width: 95%;
  /* display: flex;
  flex-direction: column; */
  margin: auto;
  margin-bottom: 40px;
}

.form-control {
  margin: 10px auto;
  width: 100%;
  padding: 5px;
}

.form-control input,
.form-control textarea,
.form-control select {
  width: 100%;
  padding: 5px 10px;
}

.form-control label {
  font-size: 0.9em;
}

.form-action {
  text-align: center;
}

.form-action button {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 10px 20px;
}

.form-login {
  padding: 5px;
}
.form-login button {
  width: 100%;
}

/* Registration */
.registration {
  width: 800px;
  text-align: center;
  max-width: 100%;
}

.registration .container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.registration button {
  margin-top: 20px;
}

.form-control.reg {
  display: inline-block;
  width: 45%;
  margin: 0 10px;
}

@media (max-width: 600px) {
  .form-control.reg {
    width: 90%;
  }

  .registration .container {
    justify-content: center;
  }

  img {
    width: 100%;
  }

  .img-container {
    width: 90%;
    height: 90vw;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .about {
    width: 100%;
  }

  #name {
    font-size: 1.5rem;
  }
}

/* Login */
.login {
  width: 400px;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
  margin-bottom: 40px;
}

.login-heading {
  text-align: center;
}

hr {
  margin: 20px 5px 10px;
}

.form-action small {
  display: block;
  margin-bottom: 10px;
  /* width: 100%; */
}
